---
layout: scaffold
---
{% render 'components/masthead', navigation: navigation, page: page, site: site %}
<main class="content">
	{% if tags contains 'articles' %}<article>{% endif %}
		{% if page_title or title or summary or description %}
		<header class="content__header">
			{% if page_title or title %}
			{% if '/' == page.url %}
			{% assign title_element = 'h2' %}
			{% else %}
			{% assign title_element = 'h1' %}
			{% endif %}
			<{{ title_element }} class="content__title">
				{{ page_title | default: title }}
			</{{ title_element }}>
			{% endif %}

	    {% if tags contains "articles" %}
	    <small class="beard">
	    	Last Modified
	    	<time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}">
	    		{{ page.date | date: "%Y-%m-%d" }}
	    	</time>
	    </small>
	    {% endif %}

	    {% if summary or description %}
	  		<p>{{ summary | default: description }}</p>
	    {% endif %}
		</header>
		{% endif %}

		{{ content }}
	{% if tags contains 'articles' %}</article>{% endif %}
</main>
{% render 'components/colophon', site: site %}
